# Network Traffic Monitor Configuration

# CSV logs directory path
csv_dir = ./csv_logs

# Network interface to listen on (e.g., eth0, any)
interface = any

# Enable or disable Manticore Search Engine storage (true/false)
use_manticore = true

# Manticore Search settings
manticore_host = 127.0.0.1
manticore_port = 9306
